<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIdentifier</key>
	<string>com.gabriel.ScreenshotApp</string>
	<key>CFBundleExecutable</key>
	<string>ScreenshotApp</string>
	<key>CFBundleName</key>
	<string>ScreenshotApp</string>
	<key>CFBundleDisplayName</key>
	<string>ScreenshotApp</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>需要访问系统事件以实现截图功能。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要访问麦克风以进行录音。</string>
	<key>NSCameraUsageDescription</key>
	<string>需要访问摄像头以实现捕获功能。</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>需要屏幕录制权限来实现截图功能</string>
	<key>NSApplicationUsesScreenCaptureKit</key>
	<true/>
	<key>NSDesktopFolderUsageDescription</key>
	<string>需要访问桌面文件夹以保存截图。</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>需要访问下载文件夹以保存截图。</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>需要访问文档文件夹以保存截图。</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
